# Ignore npm debug log
npm-debug.log

# Ignore node_modules directory
node_modules/

# Ignore any files ending with .env
*.env

# Ignore files specific to your development environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore any other files you want to exclude from version control
