/* styling the header */

.logo {
    font-size: 40px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    border: none;
    outline: none;
}

.nav-link {
    color: black;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link:active {
    color: rgba(0, 0, 0, 0.514);
}



.nav-link:hover::before,
.nav-link:first-child.active::before {
    width: 100%;
    visibility: visible;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 50%;
        background-color: #007bff;
        transform: translateX(-50%);
        visibility: hidden;
        transition: 0.3s ease-in-out;

    }
}

.list-unstyled a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.list-unstyled a:hover {
    color: #007bff;
    /* Change color on hover */
}


.banner {
    position: relative;
    height: 85vh;
    width: 100%;
    background: url("./assets/pexels-artem-podrez-5726804.jpg");
    background-position: center 65%;
    background-size: cover;
    background-attachment: fixed;
}

.banner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner .content {
    position: relative;
    z-index: 2;
    height: 85%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    padding: 20px;
    
}

.banner .content h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.banner .content .text {
    margin-bottom: 50px;
    font-size: 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}


footer h4, h6{
        color: #008DDA
}